<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213034183909-nr7vq4rojgm8h3cld8gf3301rac5pmhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213034183909-nr7vq4rojgm8h3cld8gf3301rac5pmhu</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_RBHlW2dwcGm2a5vnJ3ixd163pOrpzg</string>
	<key>GCM_SENDER_ID</key>
	<string>213034183909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.douglasscriptore.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-745f9</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-745f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213034183909:ios:722a9dffdc2cda628bf80c</string>
</dict>
</plist>